body {
    font-family: 'Open Sauce', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #eee9da;
}
h3 {
    color: #fff;
    font: 'Open Sauce';
}
h3 {
    color: #fff;
    font-size : 3em;
}
.text-primary {
    color: #295f98 !important;
}

.btn-primary {
    background-color: #295f98;
    border-color: #295f98;
}

.btn-primary:hover {
    background-color: #224e7a;
    border-color: #224e7a;
}

.alert-danger {
    font-size: 0.9rem;
}
